

<h1 class="text-center">Count: {{countService.count()}}</h1>
<div class="flex gap-4 justify-center">
  <button mat-flat-button (click)="countService.add()">Add</button>
  <button mat-stroked-button (click)="countService.substract()">Substract</button>
</div>

<hr class="my-4">

<div class="grid grid-cols-2 gap-4 ">
  <div class="overflow-hidden rounded-lg bg-white shadow">
    <div class="px-4 py-5 sm:p-6">
      <app-child-1/>
    </div>
  </div>

  <div class="overflow-hidden rounded-lg bg-white shadow">
    <div class="px-4 py-5 sm:p-6">
      <app-child-2/>
    </div>
  </div>
</div>
