<div class="prose max-w-7xl">
  <h1>Compartir información entre componentes</h1>
  <h3>Intrucciones</h3>
  <p>
    Implementa un mecanismo para compartir el valor de
    <span>count</span> entre los componentes
    <span class="marked"> child-1</span> y <span class="marked">child-2</span>, 
    asegurando que cualquier cambio en uno de ellos se refleje en el otro y en el componente padre.
  </p>

  <p>
    Además, cuando el usuario navegue a <span class="marked">page 2</span> , el valor de
    <span class="marked">count</span> debe mantenerse igual que en la página
    <span class="marked">home</span>. Los cambios en count desde page 2 también deben reflejarse en
    <span class="marked">home</span>
    , <span class="decoration-zinc-800 underline uppercase">garantizando la sincronización del estado en todas las vistas.</span>

  </p>
</div>

<hr class="mb-8" />

<app-count/>
